* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: red;
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home {
  display: grid;
  grid-column: 3;
  grid-row: 3;
  width: 100%;
  height: 100%;
}

.sidebar {
  grid-row: 1/3;
  background: #fff;
  grid-column: 1;
}

ul li {
  list-style: none;
  font-size: 2rem;
}

.col1 {
  background: yellow;
  grid-column-start: 2;
}
.col2 {
  background: green;
}

.footer {
  background: orange;
  height: 50px;
}
